<!DOCTYPE html>
<html>
<head>
    <title>TerritoryWars</title>
    <!-- add local resources using bower_componets -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/app/styles/site.css" />

</head>
<body>
    <main>
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">blah</a></li>
                <li><a href="#">blah</a></li>
                <li><a href="#">blah</a></li>
            </ul>
        </nav>
        <div class="container">
            <header class="col-lg-12">Territory Wars</header>

            <media class="col-lg-12">
                <p>Likely to be a media center.</p>
            </media>


            <article class="col-lg-4">
                <p>
                    A short description of the game and some other cool stuff. adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>
            </article>
            <article class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.,</p>
            </article>
            <article class="col-lg-4">
                <p>tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
            </article>
        </div>
    </main>

    <scripts>
        <!-- will add scripts that are pertinent to landing page -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/app/scripts/gameManager.js"></script>
        <!--<script src="/app/scripts/characterGenerator.js"></script> probably wont need charaterGenScript here  -->

    </scripts>
</body>
</html>